anyio @ file:///D:/bld/anyio_1641898296460/work/dist
asgiref @ file:///home/conda/feedstock_root/build_artifacts/asgiref_1642912811357/work
brotlipy @ file:///D:/bld/brotlipy_1636012457296/work
certifi==2021.10.8
cffi @ file:///D:/bld/cffi_1636046270630/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1643649795184/work
click @ file:///D:/bld/click_1635822759200/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1602866480661/work
cryptography @ file:///C:/ci/cryptography_1643209086516/work
fastapi @ file:///home/conda/feedstock_root/build_artifacts/fastapi_1642991510114/work
h11 @ file:///home/conda/feedstock_root/build_artifacts/h11_1609518832927/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1642433548627/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
pydantic @ file:///D:/bld/pydantic_1641053311906/work
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1643496850550/work
PySocks @ file:///D:/bld/pysocks_1635862594204/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1641580202195/work
sniffio @ file:///D:/bld/sniffio_1635844829053/work
starlette @ file:///home/conda/feedstock_root/build_artifacts/starlette-recipe_1641778727195/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1638334978229/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1641584929973/work
uvicorn @ file:///D:/bld/uvicorn-split_1643980514500/work
win-inet-pton @ file:///D:/bld/win_inet_pton_1635832844911/work
